h1 {
   color: #d22e3a;
}

q1{
    background-color: rgba(173, 223, 173, 0.7);
    font-size = 5;
}

q2 {
    background-color: rgba(187, 187, 187, 0.7);
    font-size = 5;
}

q3{
    background-color: rgba(173, 223, 173, 0.7) !important;
    font-size = 5;
}

q4{
    background-color: rgba(173, 223, 173, 0.7);
    font-size = 5;
}

q5{
    background-color: rgba(173, 223, 173, 0.7);
    font-size = 5;
}