{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Works logs</h1>
    {% set k = -1 %}
    {% for i in query %}
        <h3>Action # {{ i.id }}</h3>
        {% set k = k + 1 %}
    <table class="table">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Title of activity</th>
            <th scope="col">Team leader</th>
          <th scope="col">Duration</th>
          <th scope="col">List of collaborators</th>
          <th scope="col">Is finished</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-primary">{{ i.job }}</td>
          <td class="table-primary">{{ query_name[k] }}</td>
          <td class="table-primary">{{ i.work_size }} hours</td>
          <td class="table-primary">{{ i.collaborators }}</td>
          {% if i.is_finished %}
            <td class="table-danger">Is finished</td>
          {% else %}
            <td class="table-danger">Is not finished</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    {% endfor %}
{% endblock %}
