<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ list }}</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
        {% set user_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
        'инженер по терреформированию', 'климатолог', 'специолист по радиоционной защите', 'астрогеолог',
        'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
        <ul><h2>Cписок профессий</h2></ul>
        {% if list == 'ol' %}
            <ul>
                {% for user in user_list %}
                    <div>{{ loop.index }}. {{ user }}
                    </div>
                {% endfor %}
            </ul>
        {% elif list == 'ul' %}
            <ul>
                {% for user in user_list %}
                    <li>{{ user }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>